.btn {
  padding: 10px 20px;
  transition: all 0.5s ease;
  overflow: hidden;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  background-color: var(--orange);
  transform-style: preserve-3d;
  position: relative;
  z-index: 2;

  color: var(--ligthgray);

  &:hover {
    background-color: #ff6d00;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    &:after {
      transform: translate(110%);
    }
  }
  &:after {
    content: "";
    position: absolute;
    top: 0%;
    left: -10%;
    width: 110%;
    height: 100%;
    background-color: var(--lightblue);
    transform: translate(90%);
    transition: all 1s ease;
  }
}
