.body {
  background-color: var(--black);
  color: var(--white);
  .list {
    display: flex;
    padding: 10px 0;
    align-items: center;
    .item {
      color: white;
      transition: all 0.5s ease;
      &:hover {
        color: var(--orange);
      }
      &:not(:last-child) {
        margin-right: 30px;
      }
      &.last {
        margin-right: auto;
      }
    }
  }
}
