.basket {
  background-color: var(--ligthgray);
  margin: 0 -10px;
  padding: 20px 20px 100px 20px;
  .body {
    display: flex;
  }
  .title {
    text-align: center;
    font-size: 30px;
    color: var(--orange);
  }

  .leftBasket {
    margin-right: 20px;
    width: 80%;

    .table {
      .headerTable {
        display: flex;
        background-color: var(--white);
        padding: 10px 50px 10px 10px;
        border-radius: 5px;
        align-items: center;
        margin-bottom: 5px;
        .item {
          flex: 0 0 50%;
        }
        .price {
          flex: 0 0 10%;
        }
        .count {
          flex: 0 0 20%;
        }
        .total {
          flex: 0 0 10%;
        }
        .inviz {
          flex: 0 0 10%;
        }
      }
    }
  }
}
