.body {
  display: flex;
  .upOrDown {
    display: flex;
    align-items: center;
    width: 100%;
    .control {
      max-width: 30px;
      width: 100%;
    }

    .count {
      width: 90px;
      text-align: center;
    }
    button {
      padding: 10px;

      &:last-child {
        margin-left: 10px;
        width: 100%;
      }
    }
  }
}
